.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
}

@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");

@font-face {
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin-bottom: 250px;
}

.section-container {
  margin-bottom: 525px;
}
.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
